*,
::before,
::after{
    box-sizing: border-box;
  /* font-family: "Sora", system-ui;
  font-optical-sizing: auto;
  font-style: normal; */
  background-color: #F1F1F1;
  
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
body,html{
    margin: 0;
    padding: 0;
}
.home-container{
    min-width: 100%;
    background-color: #F1F1F1;
    padding: 20px;
    font-family: "Sora", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}
nav{
    height: auto;
    padding: 5px 0px;
}
.mobile-nav{
    display: flex;
    justify-content: space-between;
}

.prof-pic{
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.prof-pic img{
    width: 30px;
    height: 100%;
    border-radius: 50%;
}
.nav-icon{
    width: 25px;
    aspect-ratio: 1/1;

    /* height: 15px; */
}
.icons{
    width: 15px;
    height: 15px;
    color: #863A0A;
}
.persona{
    overflow:hidden;
    height: auto;
    margin: 10px 0px;
}
.persona-heading{
    margin-bottom: 15px;
}
.persona-heading p{
    margin:0px;
    font-weight: 600;
    font-size: 18px;
}
.persona-heading h6{
    font-weight: 400;
    font-size: 12px;
    color: #565454;

}
.bts-card-capsule{
    display: flex;
    margin: 20px 0px;
    border-radius: 10px;
    overflow: hidden;
}
.left-cap,.right-cap{
    flex-basis: 50%;
}
.left-cap{
    background-color: rgba(134, 58, 10, 1);
    padding: 15px;
    display: flex;
    align-items: center;
}
.right-cap{
    background-color: white;
}
#left-container{
    background-color: #863A0A;
    padding: 5px;
}
#left-container p{
    background-color: #863A0A;
    color: white;
    margin-top: 0px;
}
.gs-button{
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid white;
    color: #863A0A;
    font-size: 10px;
    font-weight: 600;
}
.recom-img{
    position: relative;
    width: 100%;
}

.recom-section h2,.r-head h2{
    font-weight: 600;
    font-size: 16px;
    line-height: 20.16px;
    margin-bottom: 20px;
}
#card-row{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
#card-row::-webkit-scrollbar {
    display: none;
} 
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-content .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 20.16px;
    margin-top: 17px;
    margin-bottom: 6.43px;
    margin-left: 9px;
    margin-right: 0px;
    color: rgba(40, 39, 39, 1);
}
.card-content .location{
    font-size: 12px;
    font-weight: 400;
    line-height: 15.12px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(86, 84, 84, 1);
    margin-bottom:14px;
}
.card-content p{
    margin: 0;
}
.p-y{
  font-weight: 400;
  font-size: 12px;  
  line-height: 15.12px;
  color: rgba(86, 84, 84, 1);
}
.price-tag{
    color: rgba(134, 58, 10, 1);
    font-size: 11.5px;
    font-weight: 600;
    line-height: 14.49px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.rated-section{
    height: auto;
    margin-top: 36px;
}
.r-title{
    font-size: 16px;
    /* font-size: 1px; */
    font-weight: 600;
    line-height: 20.16px;
    letter-spacing: -0.01em;
}
.rated-rows{
    margin-top: 25px;
}
.card-image-box{
  width: 122px;
  height: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
}
.recom-img{
    width: 100%;
    height: 100%;
}
.t-r-card-content p{
    margin: 0;
}
#t-r-title{
    /* font-size: 12.22px; */
    font-size: 16.22px;
    font-weight: 600;
    line-height: 24.33px;
    color: rgba(40, 39, 39, 1);
}
.t-r-content{
    position: relative;
}
.t-r-card-content .location{
    font-size: 12.17px;
    font-weight: 400;
    line-height: 19.65px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.ratings{
    font-size: 12.17px;
    font-weight: 700;
    line-height: 24.33px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:rgba(40, 39, 39, 1);
}
.no-of-r{
    font-weight: 500;
   color: rgba(86, 84, 84, 1);
}
.pricing{
    font-size: 8px;
    font-weight: 400;
    line-height: 10.08px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(86, 84, 84, 1);
}

/* .plus-jakarta-sans-<uniquifier> {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.t-r-card{
    height: 100.7px;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-c{
    flex-direction: column;
}
.border{
    border: 1px solid black ;
}
.gap-5{
    gap: 7.48px;
}
.mb-lg{
    margin-bottom: 25.3px;
}
.see-all-link{
    color: #565454;
    font-size: 12px;
}
a{
    text-decoration: none;
}